.about{
    width:90vw;
    padding-top: 5vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.name{
    background-image: var(--gradient);
    background-clip: text;
    color:transparent;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}
.tagline{
    color: var(--light-text);
    font-size: 28px;
}
.bioGroup{
    color : var(--dark-text);
    font-size: 20px;
    margin: 30px 0;
}
.bio{
    margin: 0;
}

.aboutIcon{
    font-size: 30px;
    color: var(--light-text);
    margin-right: 25px;
}

.aboutButtons{
    margin: 30px 0;
}
.button{
    margin-right: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    border:2px solid var(--light-text);
    background-color: transparent;
    color: var(--light-text);
    font-size: 18px;
    cursor: pointer;
    
}
.buttonIcon{
    font-size: 16px;
}
.aboutImage{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .about{
        padding-top: 0;
        flex-direction: column;
    }
    .name{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .tagline{
        font-size: 20px;
    }
    .bioGroup{
        font-size: 16px;
        margin: 15px 0;
    }
    .aboutLinks{
        margin-left: 2px;
    }
    .aboutIcon{
        margin-right: 15px;
        font-size: 20px;
    }
    .aboutButtons{
        margin: 15px 0;
    }
    .button{
        margin-right: 15px;
        padding: 4px 8px;
        font-size: 14px;
    }
    .buttonIcon{
        font-size: 14px;
    }

}